
.aboutme-main{
    background-color: antiquewhite;
    text-align: center;
    
    justify-content: center;
    
}
.aboutme-main-in{
    text-align: center;
    justify-content: space-around;
    
    display: flex;
  

}
.abm{
    justify-content: center;
    text-align: center;
}
.abm-1{
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    padding-top: 80px;
}
